<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.rogarithm.econrich.domain.department.dao.DepartmentMapper">

  <select id="selectJobHistories" parameterType="Long"
    resultType="kr.rogarithm.econrich.domain.employee.domain.JobHistory">
    SELECT
    employee_id, start_date, end_date, job_id, department_id
    FROM job_history
    WHERE department_id = #{departmentId}
  </select>

</mapper>
